FROM {{fq_upstream_image}}
MAINTAINER "Andrew Rothstein" andrew.rothstein@gmail.com

# embed roles
ONBUILD ENV PLAYBOOK_DIR=/playbook-{{ genid(16) }}
ONBUILD RUN mkdir -p $PLAYBOOK_DIR
ONBUILD COPY . $PLAYBOOK_DIR
ONBUILD WORKDIR $PLAYBOOK_DIR
# install requirementes...
ONBUILD RUN if [ -e requirements.yml ]; then ansible-galaxy install -r requirements.yml; fi
# run playbook to configure to suit
ONBUILD RUN if [ -e playbook.yml ]; then ansible-playbook playbook.yml; fi
